# Generate some tokens https://go-acme.github.io/lego/dns/cloudflare/
CF_DNS_API_TOKEN=yourtoken
CF_ZONE_API_TOKEN=yourtoken

# Traefik
VERSION=v2.10
LOG=INFO

# ACME DNS-01 challenge
PROVIDER=cloudflare
RESOLVER=1.1.1.1:53
EMAIL=youremail@youremailplace.com

# Timezone
TZ=Europe/London

## Domains for Traefik Dashboard & Services
DASHBOARD=traefik.YOURDOMAIN.com
# Generate password with: htpasswd -nb admin your_password
# Or use: echo $(htpasswd -nb admin your_password) | sed -e s/\\$/\\$\\$/g
DASHBOARD_AUTH=admin:$$apr1$$hash$$here

SPEEDTEST=speedtest.YOURDOMAIN.com #change to your domain
